@import "./../../styles/styles.scss";

.center {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#action {
  display: flex;
  width: 100%;
  justify-content: center;
  font-weight: 500;
  font-size: medium;
  gap: 3vw;
}

button {
  background: none;
  color: inherit;
  border: 1px solid;
  border-radius: 8px;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 10px;
  padding-bottom: 10px;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}


@media (max-width: $breakpoint-mobile) {
  img {
    width: 100%;
  }
  #action {
    flex-direction: column;
    width: auto;
    gap: 3vh;
  }

  .center {
    height: 70%;
  }
}