<div id="themes">
    @for (theme of themes; track theme.id) {
    <article>
        <h3 class="title">{{ theme.name }}</h3>
        <p class="content">
            {{ theme.description }}
        </p>

        <div class="action">
            @if (theme.isSubscribed) {
            <button [disabled]="loadingThemes.has(theme.id)" (click)="unsubscribeFromTheme(theme.id)" class="violet-btn">
                Déjà abonné
            </button>
            } @else {
            <button [disabled]="loadingThemes.has(theme.id)" (click)="subscribeToTheme(theme.id)" class="violet-btn">
                S'abonner
            </button>
        }
        </div>
    </article>
    } @empty {
    <p>Aucun theme trouvé.</p>
    }
</div>