@import "./../../styles/styles.scss";

nav {
    display: flex;
    height: 15vh;
    width: 100%;
    padding: 10px;
}

.logo {
    cursor: pointer;
    max-height: 10%;
}

.logo img {
    width: 30%;
}

#back-btn {
    margin: 1rem;
}

@media (max-width: $breakpoint-tablette) {
    nav {
        padding: 0;
    }



    .logo {
        max-height: 100%;
        display: flex;
        justify-content: center;
    }

    .logo img {
        width: auto;
    }
}