@if (isDesktop$ | async) {
<header>
    <nav class="navbar">
        <img (click)="goToArticles()" src="/assets/logo_p6.png" alt="logo" />

        <div id="burger-action">
            <button class="logout">Se déconnecter</button>
            <button routerLink="/article" routerLinkActive="violet" (click)="goToArticles()">Articles</button>
            <button routerLink="/theme" routerLinkActive="violet" (click)="goToThemes()">Thèmes</button>

            <svg routerLink="/profil" routerLinkActive="violet" (click)="goToProfil()"
                xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 24 24" fill="none"
                stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                class="lucide lucide-circle-user-icon lucide-circle-user">
                <circle cx="12" cy="12" r="10" />
                <circle cx="12" cy="10" r="3" />
                <path d="M7 20.662V19a2 2 0 0 1 2-2h6a2 2 0 0 1 2 2v1.662" />
            </svg>
        </div>
    </nav>
</header>

<main class="main-container">
    <router-outlet></router-outlet>
</main>
} @else {
<header>
    <nav class="navbar">
        <img (click)="goToArticles()" src="/assets/logo_p6.png" alt="logo" />

        <button class="burger" (click)="menuOpen = !menuOpen">
            <span [class.open]="menuOpen"></span>
            <span [class.open]="menuOpen"></span>
            <span [class.open]="menuOpen"></span>
        </button>
    </nav>

</header>

<main class="main-container">

    <!-- Arrière-plan semi-transparent -->
    <div [class.open]="menuOpen" class="overlay" (click)="closeMenu()"></div>

    <!-- Menu mobile -->
    <nav [class.open]="menuOpen" class="mobile-menu">
        <button class="close-btn" (click)="closeMenu()">✖</button>
        <ul>
            <li><button class="logout">Se déconnecter</button></li>
            <li><button routerLink="/article" routerLinkActive="violet" (click)="goToArticles()">Articles</button></li>
            <li><button routerLink="/theme" routerLinkActive="violet" (click)="goToThemes()">Thèmes</button></li>
        </ul>
        <div id="profil">
            <svg routerLink="/profil" routerLinkActive="violet" (click)="goToProfil()"
                xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 24 24" fill="none"
                stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                class="lucide lucide-circle-user-icon lucide-circle-user">
                <circle cx="12" cy="12" r="10" />
                <circle cx="12" cy="10" r="3" />
                <path d="M7 20.662V19a2 2 0 0 1 2-2h6a2 2 0 0 1 2 2v1.662" />
            </svg>
        </div>
    </nav>

    <router-outlet></router-outlet>
</main>
}