<button id="back-btn" (click)="goBack()">
    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor"
        stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
        class="lucide lucide-move-left-icon lucide-move-left">
        <path d="M6 8L2 12L6 16" />
        <path d="M2 12H22" />
    </svg>
</button>
<div class="center-page">
    @if (article) {
        <article>
            <h3 class="title">{{ article.title }}</h3>
            <div class="detail">
                <span>{{ article.createdAt }}</span><span>{{ article.userName }}</span><span>{{ themeNames }}</span>
            </div>
            <p class="content">
                {{ article.content }}
            </p>
        </article>
    }

    <hr>

    <section class="comments-section">
        <h3>Commentaires</h3>

        <div class="comment-card">
            <span class="comment-card__author">Username</span>
            <div class="comment-card__content">
                Contenu du commentaire
            </div>
        </div>

        <div class="comment-card">
            <span class="comment-card__author">Username</span>
            <div class="comment-card__content">
                Contenu du commentaire
            </div>
        </div>

        <div class="comment-form">
            <input required placeholder="Ecrivez ici votre commentaire" type="text" name="" class="comment-form__input">
            <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 24 24" fill="none"
                stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                class="lucide lucide-send-icon lucide-send violet">
                <path
                    d="M14.536 21.686a.5.5 0 0 0 .937-.024l6.5-19a.496.496 0 0 0-.635-.635l-19 6.5a.5.5 0 0 0-.024.937l7.93 3.18a2 2 0 0 1 1.112 1.11z" />
                <path d="m21.854 2.147-10.94 10.939" />
            </svg>
        </div>
    </section>

</div>