<button id="back-btn" (click)="goBack()">
    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor"
        stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
        class="lucide lucide-move-left-icon lucide-move-left">
        <path d="M6 8L2 12L6 16" />
        <path d="M2 12H22" />
    </svg>
</button>
<div class="center-page">
    <article>
        <h3 class="title">Titre de l'article selectioné</h3>
        <div class="detail">
            <span>Date</span><span>Auteur</span><span>Thème</span>
        </div>
        <p class="content">
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consectetur harum fugiat facilis adipisci ipsam
            odit rerum enim minus eius nihil ad expedita dolores ab cum suscipit, neque dolorum distinctio. Molestiae?
            Temporibus possimus quas cupiditate cumque deserunt dicta in. Vero odio veniam iusto, beatae vitae quos
            deleniti ad iure, porro cupiditate nam, esse dolorem cumque repellendus rerum deserunt incidunt velit
            possimus!
            Similique, pariatur dicta. Illum alias, sequi molestias, labore fugiat tempora amet cum harum, odit vitae
            porro assumenda! Natus consectetur molestias temporibus, debitis fuga reprehenderit maxime deserunt non
            corrupti, veritatis mollitia.
            Fuga vero recusandae, a atque, maxime officiis odio quibusdam libero impedit alias amet tempora unde
            necessitatibus numquam illum deleniti molestias quaerat architecto. Architecto consequuntur illo aspernatur
            sequi magnam dolor rerum.
            Animi sequi assumenda esse deserunt repellat temporibus tempora eius praesentium at, veniam inventore
            mollitia eaque beatae odio ducimus eos consectetur eveniet saepe. Expedita, quam qui repellat ex obcaecati
            quae animi?
        </p>
    </article>

    <hr>

    <section class="comments-section">
        <h3>Commentaires</h3>

        <div class="comment-card">
            <span class="comment-card__author">Username</span>
            <div class="comment-card__content">
                Contenu du commentaire
            </div>
        </div>

        <div class="comment-card">
            <span class="comment-card__author">Username</span>
            <div class="comment-card__content">
                Contenu du commentaire
            </div>
        </div>

        <div class="comment-form">
            <input required placeholder="Ecrivez ici votre commentaire" type="text" name="" class="comment-form__input">
            <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 24 24" fill="none"
                stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                class="lucide lucide-send-icon lucide-send violet">
                <path
                    d="M14.536 21.686a.5.5 0 0 0 .937-.024l6.5-19a.496.496 0 0 0-.635-.635l-19 6.5a.5.5 0 0 0-.024.937l7.93 3.18a2 2 0 0 1 1.112 1.11z" />
                <path d="m21.854 2.147-10.94 10.939" />
            </svg>
        </div>
    </section>

</div>