@use "./../../../styles/styles.scss" as *;
@use "./../../../styles/variables.scss" as v;

#action {
  display: flex;
  width: 100%;
  justify-content: center;
  font-weight: 500;
  font-size: medium;
  gap: 3vw;
}

#register-btn,
#login-btn {
  border: 1px solid; 
  border-radius: 8px;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 10px;
  padding-bottom: 10px;
}

@media (max-width: v.$breakpoint-mobile) {
  img {
    width: 100%;
    margin-top: 10vh;
    margin-bottom: 5vh;
  }

  #action {
    flex-direction: column;
    width: auto;
    gap: 3vh;
  }

  .center-page {
    justify-content: flex-start;
  }
}