<div class="center-page">
    <h1>Se connecter</h1>

    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <ul class="reset-ul">
            <li>
                <div>
                    <label for="mail">Adresse e-mail</label>
                </div>
                <input type="email" id="mail" name="user_mail" formControlName="email" />
            </li>
            <li>
                <div>
                    <label for="password">Mot de passe</label>
                </div>
                <input type="password" name="user_password" formControlName="password"/>
            </li>
        </ul>
        <div class="center-button">
            <button class="violet-btn">Se connecter</button>
        </div>
    </form>
</div>
