<div class="center-page">
    <h1>Profil utilisateur</h1>
    <form [formGroup]="formGroup" (ngSubmit)="onSubmit()">
        <ul>
            <li>
                <input placeholder="Username" type="text" id="username" name="username" formControlName="name" />
            </li>
            <li>
                <input placeholder="email@email.fr" type="email" id="email" name="email" formControlName="email" />
            </li>
            <li>
                <input placeholder="Mot de passe" type="password" id="password" name="password" formControlName="password" />
            </li>
        </ul>
        <div (click)="onSubmit()" class="center-button">
            <button class="violet-btn">Sauvegarder</button>
        </div>
    </form>

    <hr>

    <h1>Abonnements</h1>

    <div id="themes">

        @for (theme of themes; track theme.id) {
        <article>
            <h3 class="title">{{ theme.name }}</h3>
            <p class="content">
                {{ theme.description }}
            </p>

            <div class="action">
                @if (theme.isSubscribed) {
                 <button class="violet-btn">
                    Se désabonner
                </button>
                } @else {
                <button class="violet-btn">
                    S'abonner
                </button>
                }
            </div>
        </article>
        } @empty {
        <p>Aucun theme trouvé.</p>
        }


    </div>
</div>