/* You can add global styles to this file, and also import other style files */
@use "./variables.scss" as v;

html,
body {
  height: 100%;
}

app-root {
  display: block; /* Important car app-root est une balise custom */
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.center-page {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.center-button {
  display: flex;
  justify-content: center;
}

button {
  border: none;
  background: none;
  color: inherit;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

.violet-btn {
    background-color: #7763c5;
    font-size: medium;
    font-weight: bold;
    letter-spacing: 0.1rem;
    color: white;
    border-radius: 8px;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
}

ul {
  list-style: none;
  padding: 0;
}

input {
    border-radius: 6px;
    border: 1px solid;
    height: 3vh;
    min-width: 20vw;
}

@media (max-width: v.$breakpoint-mobile) {
  nav {
    max-width: 100%;
    padding: 0;
  }
}