@use "./../../../styles/variables.scss" as v;

nav {
    display: flex;
    height: 15vh;
    width: 100%;
    padding: 10px;
}

.logo {
    cursor: pointer;
}

.logo img {
    width: 30%;
}

#back-btn {
    margin: 1rem;
}

@media (max-width: v.$breakpoint-mobile) {
    
}

@media (max-width: v.$breakpoint-tablet) {
    nav {
        padding: 0;
        max-width: 100%;
    }

    .logo {
        max-height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .logo img {
        width: auto;
    }
}