<button id="back-btn" (click)="goBack()" class="reset-button">
    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor"
        stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
        class="lucide lucide-move-left-icon lucide-move-left">
        <path d="M6 8L2 12L6 16" />
        <path d="M2 12H22" />
    </svg>
</button>
<div class="center-page">
    <h1>Créer un article</h1>
    <form [formGroup]="articleCreateForm" (ngSubmit)="onSubmit()">
        <ul>
            <li>
                <select name="theme" id="theme" formControlName="theme">
                    <option value="">Sélectionner un thème</option>
                    <option *ngFor="let theme of themesList" [value]="theme.id">
                        {{ theme.name }}
                    </option>
                </select>
            </li>
            <li>
                <input placeholder="Titre de l'article" type="text" id="title" name="article_title" formControlName="title" />
            </li>
            <li>
                <textarea placeholder="Contenu de l'article" id="content" name="article_content" formControlName="content"></textarea>
            </li>
        </ul>
        <div class="center-button">
            <button class="violet-btn">Créer</button>
        </div>
    </form>
</div>